<header class="festival-header">
    <div class="header-left">
    <button mat-icon-button routerLink="/festivals" aria-label="Retour à la liste des festivals">
        <mat-icon>grid_view</mat-icon>
    </button>
    <span class="festival-name" [routerLink]="['/festivals', store.festivalId()]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        {{ store.festival()?.nom || 'Chargement...' }}
    </span>
    </div>
    
    <div class="header-right">
      <button mat-button [routerLink]="['/festivals', store.festivalId(), 'reservations']">
        <mat-icon>table_restaurant</mat-icon>
        <span class="btn-text">Réservations</span>
      </button>
      
      @if (authService.isAuthenticated()) {
        <button mat-button color="warn" (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span class="btn-text">Se déconnecter</span>
        </button>
      } @else {
        <button mat-button color="primary" routerLink="/">
          <mat-icon>login</mat-icon>
          <span class="btn-text">Se connecter</span>
        </button>
      }
    </div>
</header>